In [15]:
i = 10
if( i < 5) & (i ==10):
    print("this is a valid statemnt ")
elif i < 8:
    print("this is a valid stament in elif")
else:
    print("this will give me a defalut statement ")

this will give me a defalut statement

In [17]:
i = 10 
s = "sudh"
if i==10:
    if type(s)==int:
        print("this is my name ")
    else : 
        print("this is a defalut condition ")
else :
    print("this is default dtatemnt for outer if block ")

this is a defalut condition

In [18]:
l = [3,4,4,5,6,"sudh","kumar","xyz"]
l

[3, 4, 4, 5, 6, 'sudh', 'kumar', 'xyz']

In [20]:
l[::2]

[3, 4, 6, 'kumar']

In [27]:
m = []
for i in l:
    if type(i)==int:
        m.append(i/10)

In [28]:
m

[0.3, 0.4, 0.4, 0.5, 0.6]

In [34]:
b=[]
for i in l:
    if type(i)==int:
        i= i+i
        print(i)

6
8
8
10
12

In [35]:

x = [1,2,3,4,6,'ashu','hello','hii']

m = 0

for i in x:
    
    if type(i) == int:
        m = m+i

print(m)

16

In [36]:
for i in "sudh":
    print(i)

s
u
d
h

In [40]:
l = [4,5,6,6]
for i in l :
    if i == 9:
        break
    print(i)
else :
    print("this is the for else block ")

4
5
6
6
this is the for else block

In [41]:
s = "sudh kumar"
for i in s :
    if i == 'k':
        continue
    print(i)

s
u
d
h

u
m
a
r

In [44]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [47]:
list(range(4,9,2.0))

TypeError: 'float' object cannot be interpreted as an integer

In [48]:
l = [5,6,7,4,5,6,"sudh ","kuamr"]

In [50]:
len(l)

8

In [52]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
6
sudh
kuamr

In [54]:
input()

453543535

'453543535'

In [58]:
a = int(input("take my name and age" ))
type(a)

take my name and age53543535

int

In [60]:
type(input())

455345

str

In [64]:
"sudh"  + str(9)

'sudh9'

In [65]:
l = [4,5,6,6]
l1 = [4,5,6,4,3]

In [68]:
l +l1

[4, 5, 6, 6, 4, 5, 6, 4, 3]

In [73]:
#this is a code to explain your str operation 
'sudhanshu"s'

'sudhanshu"s'

In [74]:
"""faasfsafasf 
fasfsa
fsadfas
fsadfas
fas
fsa
fa
sf
asf
as
fd"""

'faasfsafasf \nfasfsa\nfsadfas\nfsadfas\nfas\nfsa\nfa\nsf\nasf\nas\nfd'

In [75]:
s = "hello world"

In [78]:
s = s.upper()

In [79]:
s

'HELLO WORLD'

In [80]:
s.lower()

'hello world'

In [81]:
s = "hello world sudhanshu kumar"

In [83]:
s.split('o')

['hell', ' w', 'rld sudhanshu kumar']

In [84]:
"my name is {} .my age is {}".format("sudh",432)

'my name is sudh .my age is 432'

In [85]:
s  = "hello world"

In [86]:
s.find('l')

2

In [87]:

str1 = 'hello world'
l = []
l1 = []
for i in range(len(str1)):
    if str1[i]=='l':
        l.append(i)
        l1.append(str1[i])
print(l, l1, sep='\n')

[2, 3, 9]
['l', 'l', 'l']

In [88]:
s = "sudh"
s

'sudh'

In [91]:
s.center(40,'v')

'vvvvvvvvvvvvvvvvvvsudhvvvvvvvvvvvvvvvvvv'

In [92]:
'hello\tworld'.expandtabs()

'hello   world'

In [26]:
y = "HEllow"

In [27]:
y.istitle()

False

In [12]:
y.isalpha()

True

In [13]:
y.isnumeric()

False

In [14]:
y.islower()

False

In [15]:
y.isupper()

False

In [23]:
y.isspace()

True

In [29]:
"sudh" * 3

'sudhsudhsudh'

In [30]:
[5,6,8]*3

[5, 6, 8, 5, 6, 8, 5, 6, 8]

In [31]:
l = [1,2,3,4,5,6,7,7,8,"sudh"]

In [32]:
l.append("kumar")

In [33]:
l

[1, 2, 3, 4, 5, 6, 7, 7, 8, 'sudh', 'kumar']

In [34]:
l.insert(2,"xyz")

In [35]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'sudh', 'kumar']

In [36]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'sudh', 'kumar']

In [41]:
l.pop()

8

In [42]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7]

In [43]:
l.pop(3)

3

In [44]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7]

In [50]:
l =l[::-1]

In [51]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7]

In [52]:
l.reverse()

In [53]:
l

[7, 7, 6, 5, 4, 'xyz', 2, 1]

In [54]:
l

[7, 7, 6, 5, 4, 'xyz', 2, 1]

In [55]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [56]:
l = [4,3,4,4,5,6,67,7]

In [57]:
l.sort()

In [58]:
l

[3, 4, 4, 4, 5, 6, 7, 67]

In [62]:
sl   = ["sudh",'kumar']

In [63]:
sl.sort()

In [64]:
sl

['kumar', 'sudh']

In [65]:
l = [4,5,6,7,8]
l[3] = "sudh"

In [66]:
l

[4, 5, 6, 'sudh', 8]

In [67]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [6,5,7,8]

In [68]:
l = [l1,l2,l3]

In [69]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 5, 7, 8]]

In [73]:
[i[2] for i in l]

[3, 7, 7]

In [72]:
n

[3, 7, 7]

In [74]:
l = [4,5,6,6]

In [77]:
l.append([5,6,7])

In [78]:
l

[4, 5, 6, 6, 8, [5, 6, 7]]

In [79]:
l1 = [4,5,6,7]

In [81]:
l1.extend([5,6,7])

In [82]:
l1

[4, 5, 6, 7, 5, 6, 7]

In [84]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,3,2,2,2]

In [85]:
l = [5,6,7,2,8,5,6,4,6,5,6,7,8,2]
l = [i for i in l if i != 2]

In [86]:
l

[5, 6, 7, 8, 5, 6, 4, 6, 5, 6, 7, 8]

In [87]:
m=[]
l=[5,6,4,2,1,2,1,7,8,9,2,2]
for i in l :
    if i != 2 :
        m.append(i)
print(m)

[5, 6, 4, 1, 1, 7, 8, 9]

In [90]:
l=[2,2,22,2,22,5,4,5,5,7]
while 2 in l:
    l.remove(2)

In [91]:
l

[22, 22, 5, 4, 5, 5, 7]